:root {
  --red: rgb(230, 123, 123);
  --pink: #ef81b0;
  --yellow: rgb(227, 227, 117);
  --green: rgb(145, 233, 145);
  --blue: rgb(0, 123, 255);
  --gold: gold;
  --bg: #999;
  --shadow: 0 2px 2px rgb(0, 0, 0);
  --transparant: rgba(0, 0, 0, 0.149);
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-size: 2rem;
  font-family: 'Work Sans', sans-serif;
  min-height: 3000px;
}

/* hero */
.hero {
  background-color: var(--bg);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.hero .container {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero .container .box-atas {
  background-color: var(--red);
  max-width: 800px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 15px;
}
.hero .container a {
  margin-top: 50px;
  text-decoration: none;
  color: black;
  background-color: var(--yellow);
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
}
.hero .container a:hover {
  background-color: var(--green);
}
/* navbar */
.navbar {
  /* border: 1px solid black; */
  position: sticky;
  top: 0; /* penting agar sticky bekerja */
  z-index: 1000;
  padding: 1rem;
}
.navbar .container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
.navbar .container i {
  /* border: 1px solid var(--pink);
  border-radius: 50%; */
  margin-left: auto;
  font-size: 3rem;
  cursor: pointer;
  color: var(--shadow);
}
.dropdown {
  display: none;
  flex-direction: column; /* pastikan arah turun */
  position: absolute;
  top: 4rem; /* jarak dari icon */
  right: 0;
  background-color: var(--yellow);
  /* border: 1px solid #ccc; */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  z-index: 999;
}
.dropdown a {
  text-decoration: none;
  font-size: 1.5rem;
  display: block;
  padding: 0.5rem 1rem;
  color: gray;
}
.dropdown a:hover {
  background-color: #f0f0f0;
}

/* home */
.home {
  background-color: var(--bg);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}
.home .container {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}
.home .container .sapaan h3 {
  color: var(--green);
  text-align: center;
  margin-bottom: 30px;
  font-size: 2.5rem;
}
.home .container .sapaan p {
  background-color: var(--red);
  text-align: justify;
  margin: 10px auto;
}
.home .container .utama {
  background-color: var(--yellow);
  text-align: center;
  margin: 10px auto;
}
.home .container .penutup p {
  background-color: var(--red);
  text-align: justify;
  margin: 10px auto;
}
.home .container .penutup h2,
.home .container .penutup h3 {
  text-align: center;
  margin: 30px auto;
}
.home .container .penutup h3 {
  font-size: 2.5rem;
}

/* gallery */
.gallery {
  max-width: 1200px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid black;
}
.thumbnail {
  width: 30%;
  margin: 5px;
}
.thumbnail img {
  width: 100%;
  border-radius: 15px;
}

/* gifts */
.gifts {
  max-width: 800px;
  margin: 50px auto;
  text-align: center;
  border: 1px solid black;
}
.card {
  background-color: var(--green);
  padding: 15px;
  box-sizing: border-box;
  overflow: hidden;
}
.card .header {
  height: 250px;
  background-color: var(--yellow);
  text-align: center;
  line-height: 460px;
}
.card .content {
  text-align: center;
  margin-top: 20px;
}
